{% extends "templates/web.html" %}

{% block page_content %}
<div>
    <h2>Member Profile Page</h2>
    <div>
      <select class="form-select form-select-lg mb-3" aria-label="Members">
        <option selected> Select Member </option>
        {% for member in members %}
          <option value="{{ loop.index }}">{{ member.name }}</option>
        {% endfor %}
      </select>
    </div>
    {% for member in members %}
      <p>{{ member.name }}</p>
    {% endfor %}
    <p>Hello!</p>
    <p>{{ test_member }}</p>
    {% for member in members %}
      <p>{{ print(member.name) }}</p>
    {% endfor %}
</div>
{% endblock %}