{% extends "templates/web.html" %}

{% block page_content %}
{{ include_style('file_uploader.bundle.js') }}
<div>
    <h2>Member Profile Page</h2>
    <div>
      <select class="form-select form-select-lg mb-3" aria-label="Large select example">
        <option selected>Select Member</option>
        {% for (i, member) in enumerate(members, start=1) %}
          <option value="{{ i }}">{{ member.name }}</option>
        {% endfor %}
      </select>
    </div>
    {% for member in members %}
      <p>{{ member.name }}</p>
    {% endfor %}
    <p>Hello!</p>
    <p>{{ test_member }}</p>
    {% for member in members %}
      <p>{{ print(member.name) }}</p>
    {% endfor %}
</div>
{% endblock %}