<div class="row row-cols-3 row-cols-md-3 g-4">
	<div class="col">
  <div class="card" style="width: 18rem; margin-bottom: 1rem;">
	<div class="card-body">
		<h5 class="card-title">{{ doc.trainer_nickname }}</h5>
	  	<h6 class="card-subtitle mb-2 text-body-secondary">{{ doc.trainer_name }}</h6>
		<p class="card-text">Specialty: {{ doc.trainer_specialty }}.</p>
		<a href="{{ doc.route }}" class="card-link">View Trainer Page</a>
	</div>
</div>
</div>
</div>
<!-- this is a sample default list template -->
