{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title }}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Phase</th>
            <th>Exercise</th>
        </tr>
    </thead>
    <tbody>
        {% for row in doc.phase_table %}
        <tr>
            <td>{{ row.workout_plan_phase }}</td>
            <td>{{ row.workout_plan_phase_exercise }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/workout-plans" class="btn btn-primary">Back to plans list</a>

{% endblock %}

<!-- this is a sample default web page template -->